.container {
  background-color: #ccc;
  width: 100%;
  height: auto;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.35px;
}

.wrapper {
  width: 100%;
}

.chevron {
  top: 60%;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
}

@media (max-width: 1120px) {
  .chevron {
       top: 40%;
  }
}

@media (max-width: 850px) {
  .chevron {
       top: 30%;
  }
}

@media (max-width: 680px) {
  .chevron {
       top: 20%;
  }
}

@media (max-width: 500px) {
  .chevron {
       top: 17%;
  }
}

@media (max-width: 500px) {
  .chevron {
       top: 15%;
  }
}

@media (max-width: 500px) {
  .chevron {
       top: 10%;
  }
}

.chevron-left {
  transform: rotate(180deg);
}

.chevron:first-child {
  left: 9px;
}

.chevron:last-child {
  right: 20px;
}

.wrapper .carousel {
  font-size: 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.carousel img {
  height: auto;
  object-fit: cover;
  width: calc(100%);
}

.carousel img:first-child {
  margin-left: 0px;
}

.div_orcamento {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(52, 52, 150);
}

.div_orcamento h1 {
  cursor: context-menu;
  margin-right: 2rem;
}

.button_orcamento {
  border: none;
}

.button_orcamento a {
  text-decoration: none;
  background-color: rgb(52, 52, 150);
}

.whatssap {
  background-color: rgb(52, 52, 150);
  border: none;
  color: green;
}

.whatssap:hover {
  transform: scale(1.1);
  color: rgb(189, 55, 55);
}

.div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
  background-color: dimgray;
}

.div_logo img {
  width: 60%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 2px 10px 5px rgb(85, 84, 84);
}

.home {
  text-align: center;
  color: #fff;
  cursor: context-menu;
}

.div_h2-serviço {
  margin: 2rem 0 0 2rem;
  text-align: start;
}

.div_servicos1 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  background-color: dimgray;
}

.div_servico1-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.div_servico1-img img {
  width: 300px;
  height: 200px;
  box-shadow: 2px 5px 10px 2px rgb(48, 45, 45);
}

.div_servico1-img img:hover {
  box-shadow: 2px 5px 10px 2px #cccc;
}

.div_pagamento {
  cursor: context-menu;
  text-align: center;
  border-radius: 5rem;
  background-color: #fff;
  width: 40%;
  height: auto;
  margin: 1rem auto;
  box-shadow: 5px 2px 10px 5px rgb(48, 45, 45);
}

@media (max-width: 950px) {
  .div_pagamento {
    width: 380px;
  }
}

@media (max-width: 410px) {
  .div_pagamento {
    width: 300px;
  }
}

.div_pagamento-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 30px;
}

@media (max-width: 410px) {
  .div_pagamento-img {
    width: 10%;
  }
}

.div_pagamento-img img {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 1rem;
  cursor: context-menu;
}

.footer img {
  width: 45px;
  background-color: #fff;
}

.fale_conosco {
  padding: 1rem;
  border-radius: 5rem;
  background-color: rgb(125, 168, 125);
  text-decoration: none;
  color: red;
  font-weight: 700;
  font-family: "eixo";
  font-size: 1rem;
}

.fale_conosco:hover {
  transform: scale(1.1);
}
